<?xml version="1.0"?>
<config>
    <modules>
        <Parcelspace_Deliveringconfidence>
            <version>0.0.1</version>
        </Parcelspace_Deliveringconfidence>
    </modules>
    <frontend>
        <layout>
            <updates>
                <parcelspace_deliveringconfidence>
                    <file>parcelspace_deliveringconfidence.xml</file>
                </parcelspace_deliveringconfidence>
            </updates>
        </layout>
        <routers>
            <parcelspace_deliveringconfidence>
                <use>standard</use>
                <args>
                    <module>Parcelspace_Deliveringconfidence</module>
                    <frontName>parcelspace_deliveringconfidence</frontName>
                </args>
            </parcelspace_deliveringconfidence>
        </routers>
        <translate>
            <modules>
                <Parcelspace_Deliveringconfidence>
                    <files>
                        <default>Parcelspace_Deliveringconfidence.csv</default>
                    </files>
                </Parcelspace_Deliveringconfidence>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <parcelspace_deliveringconfidence>
                <class>Parcelspace_Deliveringconfidence_Helper</class>
            </parcelspace_deliveringconfidence>
        </helpers>
        <models>
            <parcelspace_deliveringconfidence>
                <class>Parcelspace_Deliveringconfidence_Model</class>
            </parcelspace_deliveringconfidence>
        </models>
        <blocks>
            <parcelspace_deliveringconfidence>
                <class>Parcelspace_Deliveringconfidence_Block</class>
            </parcelspace_deliveringconfidence>
        </blocks>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <parcelspace_deliveringconfidence>
                        <type>singleton</type>
                        <class>parcelspace_deliveringconfidence/observer</class>
                        <method>sendInfo</method>
                    </parcelspace_deliveringconfidence>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_track_delete_after>
                <observers>
                    <parcelspace_deliveringconfidence>
                        <type>singleton</type>
                        <class>parcelspace_deliveringconfidence/observer</class>
                        <method>deleteInfo</method>
                    </parcelspace_deliveringconfidence>
                </observers>
            </sales_order_shipment_track_delete_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <parcelspace_deliveringconfidence>
                                            <title>PS</title>
                                            <sort_order>100</sort_order>
                                        </parcelspace_deliveringconfidence>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
